.navbar-nav .nav-link:hover{
    color: #39DB4A;
    
}
#nav-txt{
    font-weight: bold;
    font-family: 'Poppins';
}
.btn-success{
    background: #39DB4A;
}
.btn-secondary{
    background-color: rgb(207, 207, 207);
}
.bg-success{
    background-color: #39DB4A;
}
.badge{
    font-size: 10px;
    background: #39DB4A;
}
.text-success{
    color: #39DB4A;
}
#header-h1{
    font-size: 62px;
    font-weight: 800;
}
#header-p{
    font-weight: 500;
    color: gray;
}
#f1-card-txt{
    font-weight: 600;
}
#f2-card-txt{
    font-weight: 600;
}
#f3-card-txt{
    font-weight: 600;
}
#f4-card-txt{
    font-weight: 600;
}
.order{
    font-size: 20px;
}
#watch{
    font-size: 20px;
}
.play{
    font-size: 40px;
    transform: translate(-30%,-10%)
}
#col1-img{
    transform: translate(20%,20%)
    
}
#col1-txt{
    transform: translate(25%);
    text-align: left;    
}

#col2-img{
    transform: translate(20%,20%)
    
}
#col2-txt{
    transform: translate(10%);
    text-align: left;    
} 
#bottom-row{
    transform: translate(6%,-48%);
    height: inherit;
}
.top-corner{
    
    position:absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #39DB4A;
    border-bottom-left-radius:50%;
    border-top-right-radius: 30%;
}
#cat1-text-p{
    font-size: 15px;
}
#cat2-text-p{
    font-size: 15px;
}
#cat3-text-p{
    font-size: 15px;
}
#cat1-card{
    border-radius: 15px;
}
#cat2-card{
    border-radius: 15px;
}
#cat3-card{
    border-radius: 15px;
}
#cat4-card{
    border-radius: 15px;
}
#cat5-card{
    border-radius: 15px;
}
#cat6-card{
    border-radius: 15px;
}
#cat7-card{
    border-radius: 15px;
}
#catt1-text-p{
    font-size: 15px;
}
#catt2-text-p{
    font-size: 15px;
}
#special-btn{
    left: 100%;
}

.test-image{
    min-width: 50%;
}
#test-txt{
    min-width: 50%;
}
#test-txt h1{
    font-size: 50px;
}
.cook{
    z-index: 1;
}
.cmnt{
    z-index: 2;
    transform: translate(90%,-80%);
}
.cmnt-txt{
    font-weight: bold;
    transform: translate(55%,-940%);
}
.test-image{
    height: 700px;
    overflow: hidden;
    border-bottom-left-radius:10px ;
}
.test-image img{
    border-bottom-left-radius:10px ;
}
.overlap-images img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid white;
    position:relative
}
.overlap-images #img-1{
    z-index: 1;
}
.overlap-images #img-2{
    z-index: 2;
    margin-left: -15px;
}
.overlap-images #img-3{
    z-index: 3;
    margin-left: -15px;
}

.right-txt{
    margin-left: 80px;

}
#icon-card1{
    border-radius: 20px;
}
#icon-card2{
    border-radius: 20px;
}
#icon-card3{
    border-radius: 20px;
}
#icon-card4{
    border-radius: 20px;
}
a{
    text-decoration: none;
    
}
.carousel-inner{

    height: 400px;
}