.navbar-nav .nav-link:hover{
    color: #39DB4A;
    
}
.navbar{
    font-weight: 500;
    font-family: 'Poppins';
}
.btn-success{
    background: #39DB4A;
}
.bg-success{
    background-color: #39DB4A;
}
.badge{
    font-size: 10px;
    background: #39DB4A;
}
.text-success{
    color: #39DB4A;
}
.d-flex {
    margin-right: 0;
    padding-right: 0;
    overflow-x: auto;
}

.row h1{
    font-size: 62px;
    font-weight: 800;

}
.row p{
    font-size: 26px;
    font-weight: 500;
}
.order{
    font-size: 20px;
}
#watch{
    font-size: 20px;
}
.play{
    font-size: 40px;
    transform: translate(-30%,-10%)
}
#col1-img{
    transform: translate(20%,20%)
    
}
#col1-txt{
    transform: translate(25%);
    text-align: left;    
}

#col2-img{
    transform: translate(20%,20%)
    
}
#col2-txt{
    transform: translate(10%);
    text-align: left;    
} 
#bottom-row{
    transform: translate(6%,-48%);
    height: inherit;
}

#cat-text-p{
    font-size: 15px;
}
#cat-card{
    border-radius: 15px;
}
#special-btn{
    left: 100%;
}


